.inicial{background-color:  rgba(0, 0, 255, 0);
position: absolute;
left: 50vw;
width: 50vw;
height: 75px;

display: flex;
justify-content: center;
align-items: center;
}

.lista{
    width: 50%;
    
    display: flex;
    list-style-type: none;
    justify-content: space-between;
        
}

