.boxGrid{
    padding: 20px;
    border: solid 1px green;
    border-radius: 8px;
    width: 95%;
    min-height: 80vh;
    /*background-color: #CEE2D0;*/
    margin: auto;
}

.custom-card {
    background-color: #CEE2D0!important; /* Cor de fundo interna da div */
  }
  
  .card-text {
    color: black; 
    text-shadow: none; 
  }
  
  .text-center {
    text-align: center; 
  }