
.receita{
    padding: 20px;
    border: solid 1px green;
    border-radius: 8px;
    width: 700px;
    margin: auto;
    background-color: #CEE2D0;
}
.customiza .form-label{
    color: rgba(0, 0, 0, 0.459);

}
.receita h4{
    text-align: center;
}



.testando_estilo{
    padding: 0px;
    margin: 0px;
    max-width: 400px;
    background-color: white;
}
.testando_estilo .MuiInputBase-root {
    font-size:1rem; 
    border: 2px solid #000; 
    height: 39px;
  }
.testando_estilo .MuiInputBase-input::placeholder {
    font-size: 14px; 
    color: rgb(10, 10, 10); 
}

.testando_estilo .MuiAutocomplete-root {
    padding: 0;
}

.testando_estilo .MuiInputBase-root {
    padding: 0;
    font-size: 16px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
}

.testando_estilo .MuiInputBase-input {
    padding: 8px; 
}
.testando_estilo .MuiOutlinedInput-notchedOutline {
    border: none; 
}

.testando_estilo .MuiAutocomplete-popupIndicator {
    display: none; 
}
.testando_estilo .MuiAutocomplete-clearIndicator {
    display: none; 
}

.testando_estilo .MuiInputLabel-root {
    display: none; 
}
