@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
  
.modalContent {
  background: #fff;
  padding:20px 20px 20px 20px;
  border-radius: 8px;
  max-width: 30vw;
  width: 100%;
  
  max-height: 80vh;
  overflow-y: auto;
  position: absolute;
}
  
.receita{
  width: 100%;
  height: 100%;
  background-color:rgb(255, 255, 255);
  border-radius: 7px;
  border: solid 1px #034632;
  box-shadow: 4px 1px 10px 2px #03463238;
}
    
.receituario{
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  border-bottom: 1px black solid;
  margin: 7px;
  padding: 7px;
}

.receituario h3{
  font-size: 14px;
  font-weight: 600;
}
.responses{
  font-family: "Space Mono", monospace;
}

.dPessoais{
    margin-left: 7px;
    margin-right: 7px;
    border-bottom: 1px black solid;
    font-size: 12px;
}
.dPessoais h4{
    text-align: center;
    font-size: 14px;
}

.prescricao{
    margin-left: 7px;
    margin-right: 7px;
    font-size: 11px;
}
.prescricao h4{
    text-align: center;
    font-size: 14px;
}
.subSection{
  margin-top: 7px;
  border-bottom: 1px rgba(0, 0, 0, 0.075) solid;
}
.dataCity{
  display: flex;
  justify-content: end;
  margin: 10% 0 10% 0;
}

.assinatura {
  width: 50%;
  margin: auto;
  border-top: 1px solid black;
  text-align: center;
  padding-bottom: 20px;
}
.medQtd {
  display: flex;
  justify-content: space-between;
}
.subSection {
  margin-top: 7px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.prescricao {
  border-bottom: none;
}
.nmMedico{
  font-family: "Space Mono", monospace;
  font-weight:700;
  font-style: normal;     
}

.modalActions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
  
.btnPrint , .btnEdit {
  background-color:#245e3dd5;
  color: white;
  min-width:130px ;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.5s;
}
.btnEdit:hover, .btnPrint:hover{
  background-color:#245e3d;
}
.close{
  color: #245e3d;
  position: absolute;
  right:0px;
  top: 0px;
  border-radius: 0px 7px 0px 7px;
  padding:0px 5px;
  background-color: #9dc5af98;  
}
.close:hover{
  cursor: pointer;
  background-color: #88b49c;
}



.medicamento{
  width: 75%;
  min-width:50%;
  margin-right: 10px;
}
.formLabel{
  font-size: 12px;
}
.qtd{
  display: flex;
  flex-direction: column;
}
.formControl{
  padding: 4px;
  border: 1px solid #008000;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 3px;
  background-color: #3da88525;
  height: 27px;
  transition: border-color 0.3s ease;
  outline: none;
  min-width: 70px;
}
.formControl:hover{
  border: 1px solid #034632;
}
.formControl:focus{
  border: 2px solid #034632;
}
.formUsar{
  display: flex;
  flex-direction: column;
}
.btnCentro{
  display: flex;
  justify-content: center;
}
.btnRemove{
  margin-left: 0 auto;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #008000;
  background-color:#037a3550; 
}
.removeMed:hover{
  cursor: pointer;
  border: 1px solid #034632;

}
.removeMed:focus{
  border: 2px solid #034632;
}




  


@media print {
    @page {
      size: 148mm 210mm;
      margin: 5mm;
    }
  
    
    .close, .modalActions {
      display: none;
    }
  
    .receita {
      font-size: 16pt;
      color: black;
      background: white; 
      width: 100%;
      min-height: 200mm; 
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
    }
 
    .assinatura {
      text-align: center;
      margin-top: 20px;
    }
  
    .receituario {
      font-family: "Times New Roman", serif;
    }
  
    .receita {
      page-break-inside: avoid;
    }

    .dataCity {
      text-align: right;
    }
}
