.boxRegistra{
    
        position: fixed;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
}
.modalContent {
    background: #fff;
    padding:20px 20px 20px 20px;
    border-radius: 8px;
    max-width: 30vw;
    width: 100%;
    max-height: 83vh;
    overflow-y: auto;
    position: relative;
    
}
.close{
    color: #245e3d;
    position: absolute;
    right:0px;
    top: 0px;
    border-radius: 0px 7px 0px 7px;
    padding:0px 5px;
    background-color: #9dc5af98;
}
.close:hover{
  cursor: pointer;
  background-color: #88b49c;
}
  
.receita{
    border-radius: 7px;
    padding: 7px;
    border: solid 1px #034632;
    box-shadow: 4px 1px 10px 2px #03463238;
} 
.receita .titulo{
    /*margin-top: 7px;*/
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.receita .subTitulo{
    margin-top: 7px;
    text-align: center;
    font-size: 12px;
    font-weight: 600; 

}     
.formSelect{
    width: 100%;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #008000;
    background-color: #3da88525;
    transition: border-color 0.3s ease;
}
.formSelect:hover{
    border: 1px solid #034632;
}
.formSelect:focus{
    border: 2px solid #034632;
}
.formLabel{
    font-size: 12px;
}
.medQtd{
    display: flex;
    justify-content: space-between;
}
.medicamento{
    width: 75%;
    min-width:50%;
    margin-right: 10px;
}
.qtd{
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    
}

.testandoEstilo {
    border-radius: 5px;
    background-color: rgb(0, 255, 55);
}

.formControl{
    padding: 4px;
    border: 1px solid #008000;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 3px;
    background-color: #3da88525;
    height: 27px;
    transition: border-color 0.3s ease;
    outline: none;
    min-width: 70px;
}
.formControl:hover{
    border: 1px solid #034632;
}
.formControl:focus{
    border: 2px solid #034632;
}
.formUsar{
    display: flex;
    flex-direction: column;
}
.btnCentro{
    display: flex;
    justify-content: center;
}
.btnRemove{
    margin-left: 0 auto;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #008000;
    background-color:#037a3550; 
}
.removeMed:hover{
    cursor: pointer;
    border: 1px solid #034632;

}
.removeMed:focus{
    border: 2px solid #034632;
}